
  <!-- <h1>Bubble-Burst!</h1> -->

    <!-- <button (click)="getRoverImages()">View Images</button> -->
    <!-- <button (click)="saveRoverImages()">Save All Images</button> -->
  <!-- </form> -->
<div class="row">
  <div class = "col-12-xs">
    <div *ngIf="photos &amp;&amp; !noPhotos">
      <app-carousel [childPhotos]="photos"></app-carousel>
    </div>
    <div *ngIf="noPhotos">
        <h3>There were no photos taken on {{roverDate.value}} by the {{roverCamera.value}} camera.</h3>
    </div>
  </div>
</div>


<div class="row bg-info">
  <div class="col-xs-3">
    <div>

      <h3><a routerLink="">Home</a></h3>
      <h3><a routerLink="game">Play Game!</a></h3>
      <h3><a routerLink="about">About</a></h3>
      <h3><a routerLink="highscores">High Scores</a></h3>
    </div>

    <div class="row columns">
      <button (click)="login()" *ngIf="!(user | async)?.uid">Gmail Login</button>
      <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

      <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
      <div id="details-container">
          <p *ngFor="let message of messages | async">{{message.name}}: {{message.text}} </p>
      </div>
    </div>

  </div>


<!-- <div class="col-xs-10 grid"> -->

  <div class="col-xs-9 bg-info">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
